
/* 初期設定 */
body {
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  color: #333;
  font-size: 14px;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* セクションに対して */
section{
  height: 300px;
}


/* navに対する設定 */
/* ヘッダー の設定*/
header {
  width: 1100px;
}
header h1 {
  margin: 5px 0 10px;
  
}

#navi {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size:0;
    text-align: center;
  }
  
  ul{
  padding: 0;
}

#navi ul li{
    display:inline-block;
    width: 220px;
    font-size:15px;
    font-weight: bold;
}

#navi ul li a {
  display: block;
  padding: 10px 15px;
  background-color: #3ca0f1;
  color: #fff;
  text-decoration: none;
  /* transition: background-color .2s linear; */
}

 .top p {
  padding:0;
  margin: 0 ;
  text-align: center;
  height: 400px;
  background-color: rgb(236, 232, 232);
}

p img{
  display: inline-block;
  height: 400px;
  width:auto;
  
}

/* メイン */


.top h2{
  margin:0;
  background-color:rgba(48, 46, 46, 0.938);
  color:white;
}

.top div{
  margin: auto;
}

section{
  background-color: rgb(236, 232, 232);
}

#contents{
  width: 984px;
  margin: 0 auto 25px;
}
.point {
  display: flex;
  justify-content: space-between;
  letter-spacing:1px;
  height:250px;
}

.point img {
  margin-right: 0;
  width:300px;
  height: auto;
}

.point img:hover {
  transform:scale(1.2);

}


.point figcaption {
  font-size: 15px;
  font-weight: bold;
  color: #9C9689;
  text-align: center;
}

h2{
  padding:10px 0;
  background-color:rgba(48, 46, 46, 0.938);
  color: white;
}

h3{
  margin:8px 0 ;
}

p{
  padding:7px;
  font-size: 16px;
}

footer{
  background-color: rgb(236, 232, 232);
}

div.item{
  font-weight: bold;
  font-size:16px;
  width:300px;
  margin:0 auto 20px;
}

#email,#password{
  width: 300px;
  height: 20px;
}

div.item2{
  display:inline-block;
  width:984px;
  text-align: center;
}

 #login,#register{
  height: 30px;
  width: 75px;
  font-weight: bold;
  margin-bottom: 20px;
}

